{% extends "layout/base.twig" %}

{% block title %}
  <title>{{ config.site.name }}</title>
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ config.site.description }}">
{% endblock %}

{% block styles_more %}

  <link rel="stylesheet" href="https://pidila.gitlab.io/_assets/css/style.min.css">
  <style type="text/css">
    body { background-color: #efefef; }
    ul.pages-list li a:visited { color:#e84443; }
    .container { background-color: #fff; }
    .baseline { border-bottom: 0.1em solid #e84443; padding-bottom: 1em; }
    .package { display: flex; background-color: #efefef; padding: 0 1em;}
    .package-item { flex:1; }
    .autopromo { text-align: center; margin: 2em 0; }
  </style>

{% endblock %}

{% block content %}

  {% include "inc/index-info.twig" with {'title': true} %}

  <h2>Liste des pages</h2>
  <ul class="pages-list">
    <!-- Lien vers le styleguide toujours en premier -->
    <li><a href="styleguide/">Styleguide</a></li>
    <!-- Puis lister ici les gabarits prêts à recetter -->
  </ul>
  
  {% include "inc/index-info.twig" with {'content': true} %}

{% endblock %}

{% block skiplink %}{% endblock %}
{% block devcomments %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
