<div class="alert alert-success" role="alert">
  <svg aria-hidden="true" class="icon icon-side icon-check_confirmation"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#check_confirmation" /></svg>
  <p class="alert-content"><strong>Bravo ! </strong>Votre compte a bien été créé.</p>
</div>

<div class="alert alert-info" role="alert">
  <p><strong>Votre messagerie : </strong>Vous avez 123 nouveaux messages privés. <a href="#">Accédez à votre boîte de messages</a>.</p>
</div>

<div class="alert alert-warning" role="alert">
  <p><strong>Attention ! </strong> Votre porte-documents atteindra bientôt la limite autorisée.</p>
</div>

<div class="alert alert-danger" role="alert">
  <svg aria-hidden="true" class="icon icon-side icon-message_erreur"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#message_erreur" /></svg>
  <p class="alert-content"><strong>Erreur : </strong> Le formulaire présente 2 erreurs et n'a pu être validé.</p>
</div>

<div class="alert alert-bloc alert-danger" role="alert">
  <svg aria-hidden="true" class="icon icon-side icon-message_erreur"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#message_erreur" /></svg>
  <div class="alert-content">
    <p><strong>Erreur :-(</strong></p>
    <p>Le formulaire est incomplet, il contient 2 erreur(s) : </p>
    <ul>
      <li>L'adresse électronique est incorrecte.</li>
      <li>Le mot de passe est incorrect.</li>
    </ul>
  </div>
</div>
