<ul>
  <li><code>&lt;q&gt;</code>&nbsp;: <q>citation au fil du texte</q></li>
  <li><code>&lt;cite&gt;</code> <abbr title="À réserver aux titres d'ouvrages">⚠</abbr>&nbsp;: <cite>titre d'œuvre</cite></li>
</ul>

<p>Voici une citation ordinaire, avec la balise HTML <code>&lt;blockquote&gt;</code>, où la source est précisée avec <code>&lt;footer&gt;</code>&nbsp;:</p>
<!-- Cf.: http://romy.tetue.net/1009 -->
<blockquote class="blockquote">
  <p>Mettre le Web et ses services à la disposition de tous les individus, quels que soient leur matériel ou logiciel, leur infrastructure réseau, leur langue maternelle, leur culture, leur localisation géographique, ou leurs aptitudes physiques ou mentales.</p>
  <footer class="blockquote-footer">Tim Berners-Lee, inventeur du Web.</footer>
</blockquote>
