<div class="question">
  {#<!-- Les questions utilisent le composant nh-collapse. -->#}

  <h3 class="js-expandmore"><span>Vivamus vel luctus nibh</span></h3>
  <div class="js-to_expand">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et malesuada turpis. Nunc tellus purus, euismod non sem faucibus, pellentesque elementum neque. Pellentesque odio augue, malesuada in luctus sit amet, viverra sit amet enim. Pellentesque et tristique est, at consequat nibh. Donec tempus elit ac consequat placerat. Vivamus vel luctus nibh. Nunc sollicitudin vulputate ipsum, non eleifend ante convallis nec. Quisque vel massa ligula.</p>
  </div>
</div>

<div class="question">
  <h3 class="js-expandmore"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsa repellat, quia totam ab doloribus, vitae, quaerat et modi deleniti voluptate rem recusandae, reprehenderit harum deserunt veniam sequi dignissimos possimus ?</span></h3>
  <div class="js-to_expand">
    <p>Consectetur adipisicing elit. Consequuntur repellat nostrum, dolores qui recusandae quos assumenda non ! Iure nobis adipisci quod debitis accusantium omnis totam molestias iste expedita enim, sit.</p>
    <p>Provident, odit! Doloremque fugiat voluptatibus autem quasi vero, eveniet, dolorum magnam iste, magni, debitis aut explicabo sunt earum in alias quo accusantium !</p>
  </div>
</div>
