<p>La police de caractères Open Sans est utilisée sur l'ensemble du site journal-officiel.gouv.fr</p>
<ul>
  <li>Open Sans Regular</li>
  <li><em>Open Sans Italic</em></li>
  <li><strong>Open Sans Semibold</strong></li>
  <li><strong><em>Open Sans Semibold Italic</em></strong></li>
</ul>
