
{% if title %}

  <h1>{{ config.site.name }}</h1>
  {% if config.site.description %}
    <p class="baseline">{{ config.site.description }}</p>
  {% endif %}

{% endif %}


{% if content %}

  <h2>Informations Package</h2>
  <div class="package">
    <div class="package-item">
      {% if configScampi.name %}
        <h3><a href="{{ configScampi.homepage }}">{{ configScampi.name }}</a></h3>
        <p>{{ configScampi.description }}</p>
        <ul>
          <li>Version : {{ configScampi.version }}</li>
          <li>Licence : {{ configScampi.license }}</li>
          <li>Auteurs : {{ configScampi.author }}</li>
          <li><a href="{{ configScampi.repository.url }}">Dépot Git</a></li>
          <li><a href="{{ configScampi.bugs.url }}">Signaler un bug</a></li>
        </ul>
      {% endif %}
    </div>
    <div class="package-item">
      {% if configPackage.name %}
        <h3><a href="{{ configPackage.homepage }}">{{ configPackage.name }}</a></h3>
        <p>{{ configPackage.description }}</p>
        <ul>
          {% if configPackage.version %}<li>Version : {{ configPackage.version }}</li>{% endif %}
          {% if configPackage.license %}<li>Licence : {{ configPackage.license }}</li>{% endif %}
          {% if configPackage.author %}<li>Auteurs : {{ configPackage.author }}</li>{% endif %}
          {% if configPackage.repository %}<li><a href="{{ configPackage.repository.url }}">Dépot Git</a></li>{% endif %}
          {% if configPackage.bugs %}<li><a href="{{ configPackage.bugs.url }}">Signaler un bug</a></li>{% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="autopromo">
    <p>Ces pages ont été réalisés avec <a href="http://pidila.gitlab.io/scampi">Scampi</a> et <a href="http://pidila.gitlab.io/scampi-twig">Scampi-Twig</a>, deux produits développés par le <a href="http://pidila.gitlab.io/" title="Pôle Internet de la DILA">PiDILA</a></p>
  </div>

{% endif %}